
<link rel="stylesheet" href="/css/about.css">

<article id="about">
  <div id="crumb"> <a href="<%= root_url %>">首頁</a> &gt; <a href="#">關於霏亞</a></div>
  <!--crumb--> 
   <div id="content">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><img src="/images/ab-01.jpg" width="930" height="195"></td>
  </tr>
  <tr>
    <td><p>霏亞國美容理教育機構於1999年開始了我們的第一家店，當初成立的宗旨，單純是想憑一技之長為客人服務，並且將中醫觀念與精油看似中西不相同的方式，結合起來以不同的面貌呈現，均能帶給客人完全的滿足，這也是我們一直致力於技術創新與改進的原動力。<br>
<br>
後因這些年坊間美容沙龍林立，許多大型的美容SPA店改以傳直銷的方式經營，許多想學一技之長的人反而背負著數萬到數十萬不等的債務，有鑑於此毅然決然在美容保養的戰國時代，成立了閎藝美學教育機構並研發出『Fe Ya』這支市場獨創品牌。獨家引進法國產品與製作技術，並且將霏亞團隊技術總監累積了十多年的經驗，創造出一套專業手法，幫助各位操作者與受施者能真的達到完美的身、心、靈與健康美麗。</p></td>
  </tr>
  <tr>
    <td align="center"><img src="/images/ab-03.jpg" width="940" height="755"></td>
  </tr>
</table>

   
   </div>
</article>