<link rel="stylesheet" href="css/index.css">

<article>
<div id="course">
<h3><img src="images/df-01.jpg"></h3>
<span>堅持教學師資，堅持品質永遠的小班教學</span>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" width="33%"><img src="images/df-02.jpg"><br><br><a href="#"></a></td>
    <td align="center" width="34%"><img src="images/df-03.jpg"><br><br><a href="#"></a></td>
    <td align="center" width="33%"><img src="images/df-04.jpg"><br><br><a href="#"></a></td>
  </tr>
</table>
</div>
<div id="news">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="21%" valign="bottom"><img src="images/df-06.jpg" width="168" height="69"></td>
    <td width="79%"><ul>
<li><span>2013.12.22</span><a href="#">新開班級舊學員免費回娘家上課最長字數可增加之範圍 ... more</a></li>
<li><span>2013.12.22</span><a href="#">新開班級舊學員免費回娘家上課最長字數可增加之範圍 ... more</a></li>
</ul></td>
  </tr>
</table>
</div>
<div id="professional">
<h3><img src="images/df-07.jpg"></h3>
<span>整合美容市場學習支援，開發多元化、多樣化教育類別，整合美容市場學習支援，開發多元化、多樣化教育類別</span>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" width="20%"><a id="p1" href="#"></a></td>
    <td align="center" width="20%"><a id="p2" href="#"></a></td>
    <td align="center" width="20%"><a id="p3" href="#"></a></td>
    <td align="center" width="20%"><a id="p4" href="#"></a></td>
    <td align="center" width="20%"><a id="p5" href="#"></a></td>
  </tr>
</table>
</div>
<div id="products">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="24%" align="center"><h3><img src="/images/df-13.jpg"><br><br><a href="#"></a></h3>
</th>
    <td width="12%">&nbsp;</td>
    <td width="16%" align="center"><img src="/images/sample/image03.jpg" width="128" height="103"><br><a href="#">霏亞系列保養</a></td>
    <td width="16%" align="center"><img src="/images/sample/image03.jpg" width="128" height="103"><br><a href="#">霏亞系列保養</a></td>
    <td width="16%" align="center"><img src="/images/sample/image03.jpg" width="128" height="103"><br><a href="#">霏亞系列保養</a></td>
    <td width="16%" align="center"><img src="/images/sample/image03.jpg" width="128" height="103"><br><a href="#">霏亞系列保養</a></td>
  </tr>
</table>

</div>
<div id="job">
  <img src="images/df-15.png"></div>
</article>