
<link rel="stylesheet" href="/css/professional.css">


<article id="professional">
  <div id="crumb"> <a href="<%= root_url %>">首頁</a> &gt; <a href="#">專業師資</a></div>
  <!--crumb--> 
  <div id="content">
  	<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td id="prof-1" valign="top" class="avator"><div><img src="/images/pf-01.jpg"></div></td>
    <td colspan="2" valign="top" class="text" style="padding-left:100px"><img src="/images/pf-07.gif"></td>
    </tr>
  <tr>
    <td colspan="2" align="right" valign="top" class="text"><img src="/images/pf-08.gif"></td>
    <td id="prof-2" valign="top" class="avator"><div><img src="/images/pf-02.jpg"></div></td>
  </tr>
  <tr>
    <td id="prof-3" valign="top" class="avator"><div><img src="/images/pf-03.jpg"></div></td>
    <td colspan="2" valign="top" class="text"><img src="/images/pf-09.gif"></td>
    </tr>
  <tr>
    <td colspan="2" align="right" valign="top" class="text"><img src="/images/pf-10.gif"></td>
    <td id="prof-4" valign="top" class="avator"><div><img src="/images/pf-13.jpg"></div></td>
  </tr>
  <tr>
    <td id="prof-5" valign="top" class="avator"><div><img src="/images/pf-04.jpg"></div></td>
    <td colspan="2" valign="top" class="text"><img src="/images/pf-11.gif"></td>
    </tr>
  <tr>
    <td colspan="2" align="right" valign="top" class="text"><img src="/images/pf-12.gif"></td>
    <td id="prof-6" valign="top" class="avator"><div><img src="/images/pf-06.jpg"></div></td>
  </tr>
</table>

  </div>  
</article>