
<link rel="stylesheet" href="/css/professional.css">

<article id="professional">
  <div id="crumb"> <a href="#">首頁</a> &gt; <a href="#">專業師資</a></div>
  <!--crumb--> 
  <div id="content">
  	<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" class="avator"><div><img src="/images/pf-01.jpg" width="232" height="283"></div></td>
    <td colspan="2" valign="top" class="text" style="padding-left:100px"><img src="/images/pf-07.gif" width="444" height="139"></td>
    </tr>
  <tr>
    <td colspan="2" align="right" valign="top" class="text"><img src="/images/pf-08.gif" width="228" height="74"></td>
    <td valign="top" class="avator"><div><img src="/images/pf-02.jpg" width="162" height="197"></div></td>
  </tr>
  <tr>
    <td valign="top" class="avator"><div><img src="/images/pf-03.jpg" width="162" height="194"></div></td>
    <td colspan="2" valign="top" class="text"><img src="/images/pf-09.gif" width="311" height="59"></td>
    </tr>
  <tr>
    <td colspan="2" align="right" valign="top" class="text"><img src="/images/pf-10.gif" width="307" height="95"></td>
    <td valign="top" class="avator"><div><img src="/images/pf-06.jpg" width="162" height="171"></div></td>
  </tr>
  <tr>
    <td valign="top" class="avator"><div><img src="/images/pf-04.jpg" width="161" height="197"></div></td>
    <td colspan="2" valign="top" class="text"><img src="/images/pf-11.gif" width="311" height="52"></td>
    </tr>
  <tr>
    <td colspan="2" align="right" valign="top" class="text"><img src="/images/pf-12.gif" width="340" height="95"></td>
    <td valign="top" class="avator"><div><img src="/images/pf-06.jpg" width="162" height="171"></div></td>
  </tr>
</table>

  </div>  
</article>