<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>霏亞國際美容機構</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style-m.css">
<link rel="stylesheet" href="/css/shopcart.css">
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/auto-full-height.min.js"></script>
</head>

<body>
<header _height='none'>
  <div id="top"> XXX 您好　│<a href="#">您的帳戶</a>│<a href="#">購物車</a> <img src="/images/sc-01.png"> <a id="back" href="index.html">回首頁 &gt;</a></div>
</header>
<article _height='auto'>
  <div id="step"><img src="/images/sc-04.jpg"></div>
  <div id="content">
    <div id="detail">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="24%" align="center">明細</th>
          <th width="8%" align="center">規格</th>
          <th width="22%" align="center">數量</th>
          <th width="10%" align="center">單價</th>
          <th width="10%" align="center">折扣價</th>
          <th width="10%" align="center">小計</th>
          <th width="8%" align="center">庫存</th>
          <th width="8%" align="center">刪除</th>
        </tr>
        <tr>
          <td align="center">13 吋 MacBook Pro</td>
          <td align="center">白色</td>
          <td align="center" class="count">1</td>
          <td align="center">70,286 </td>
          <td align="center">70,286</td>
          <td align="center">70,286</td>
          <td align="center">有</td>
          <td align="center" class="delete"><a href="#"><img src="/images/sc-03.gif"></a></td>
        </tr>
        <tr>
          <td align="center">13 吋 MacBook Pro</td>
          <td align="center">白色</td>
          <td align="center" class="count">1</td>
          <td align="center">70,286 </td>
          <td align="center">70,286</td>
          <td align="center">70,286</td>
          <td align="center">有</td>
          <td align="center" class="delete"><a href="#"><img src="/images/sc-03.gif"></a></td>
        </tr>
      </table>
    </div>
    <div id="check">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="80%">&nbsp;</td>
          <td width="10%">購物小計</td>
          <td width="10%" align="right">NT$ 70,286</td>
        </tr>
        <tr>
          <td width="80%">&nbsp;</td>
          <td width="10%">運費</td>
          <td width="10%" align="right">NT$ 0</td>
        </tr>
        <tr>
          <td width="80%">&nbsp;</td>
          <td width="10%" class="total">訂單總計</td>
          <td width="10%" align="right" class="total">NT$ 70,286</td>
        </tr>
      </table>
    </div>
  </div>
  <!--content-->
  <div id="info">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%" valign="top" class="way">宅配貨到付款</td>
        <td width="5%" align="center" valign="top"><input type="radio" name="radio" class="radio" value=""></td>
        <td width="85%" valign="top">宅配貨到付款，將酌收 50 元物流費。若單筆購物滿 499 元，即享有免運費優惠（「貨到付款」服務僅限台灣本島）。</td>
      </tr>
      <tr>
        <td valign="top" class="way">宅配一般付款</td>
        <td align="center" valign="top"><input type="radio" name="radio" class="radio" value=""></td>
        <td valign="top" style="line-height:1.7em">宅配一般付款，請至郵局匯款XXX，將酌收 50 元物流費。若單筆購物滿 499 元，即享有免運費優惠。<br>
          ※ 匯款戶名：夏天廣告有限公司　　國泰世華銀行 信義分行(總行代碼013)　　帳號：888-88-888888-8</td>
      </tr>
    </table>
    <div id="form">
      <h3>填寫您的資料
        <input name="" type="checkbox" value="" class="checkbox">
        <span>更新為會員資料</span></h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="9%" align="left">中文姓名</th>
          <td width="24%"><input name="" type="text" class="text"></td>
          <td width="67%">&nbsp;</td>
        </tr>
        <tr>
          <th align="left">電子郵件</th>
          <td><input name="" type="text" class="text"></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th align="left">手機號碼</th>
          <td><input name="" type="text" class="text"></td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="9%" align="left">發票資訊</th>
          <td colspan="5"><span>※ 依統一發票使用辦法規定：個人戶（二聯式）發票一經開立，不得任意更改為公司戶（三聯式）發票。</span></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <th width="7%" align="left">統一編號</th>
          <td width="21%"><input name="" type="text" class="text"></td>
          <th width="7%" align="left">發票抬頭</th>
          <td width="21%"><input name="" type="text" class="text"></td>
          <td width="35%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="5" align="left"><span><a href="#">電子發票說明</a> ，核准文號：北區國稅北縣三字第0980023790號</span></td>
        </tr>
      </table>
    </div>
    <!--form-->
    <h4>收件人資訊
      <input name="" type="checkbox" value="" class="checkbox">
      <span>同訂購人</span></h4>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="9%" align="left">中文姓名</th>
        <td width="24%"><input name="" type="text" class="text"></td>
        <td width="67%">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">手機號碼</th>
        <td><input name="" type="text" class="text"></td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="9%" align="left">送貨地址</th>
        <td width="58%"><input name="" type="text" class="text"></td>
        <td width="33%">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input name="" type="checkbox" value="" class="checkbox">
          加入常用地址
          <input name="" type="checkbox" value="" class="checkbox">
          設為預設地址</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" class="button"><a href="#" id="return">繼 續 購 物</a><a href="#">上 一 步</a><a href="#">下 一 步</a></td>
      </tr>
    </table>
  </div>
</article>
<footer _height='none'>
  <div class="container">
    <nav><a href="#">專 業 課 程 </a>│ <a href="#">學 員 見 證</a> │ <a href="#">專 業 師 資 </a>│ <a href="#">美 容 商 品 </a>│ <a href="#">最 新 消 息 </a>│ <a href="#">關 於 霏 亞</a></nav>
    <p>台北　台北市中山區長安東路二段82號<br>
      桃園　桃園縣蘆竹鄉中正路308號18樓之2<br>
      鶯歌　新北市鶯歌區永明街67-3號<br>
      <span>Copyright (C) 霏亞國際 All Rights Reserved.</span></p>
  </div>
</footer>
</body>
</html>
