<section class="content" id="sv-member">
  <h3>會員管理</h3>
  <div class="member-content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th align="center">名稱</th>
        <th align="center">email</th>
        <th align="center">聯絡電話</th>
        <th align="center">地址</th>
      </tr>
      <% @members.each do |member| %>
      <tr>
        <td align="center"><%= member.username %></td>
        <td align="center"><%= member.email %></td>
        <td align="center"><%= member.tel %></td>
        <td align="center"><%= member.address %></td>
      </tr>
      <% end %>
    </table>
  </div>
</section>
<script type="text/javascript">
$("div.side").eq(3).find("img").attr("src","/images/li-open.png");
</script>