
<link rel="stylesheet" href="/css/new.css">
<article id="new" _height='auto'>
  <div id="crumb"> <a href="#">首頁</a> &gt; <a href="#">最新消息</a></div>
  <!--crumb--> 
  <div id="list">
  	<h3><img src="/images/nw-01.gif"></h3>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="12%" class="date">2013.12.31</td>
    <td width="88%"><a href="<%= entry_path( :id => 1 ) %>">霏亞為愛回饋活動為"長期失業者"及"身心障礙人士"開立免費授課...</a></td>
  </tr>
  <tr>
    <td class="date">2013.12.31</td>
    <td><a href="<%= entry_path( :id => 1 ) %>">霏亞為愛回饋活動為"長期失業者"及"身心障礙人士"開立免費授課...</a></td>
  </tr><tr>
    <td class="date">2013.12.31</td>
    <td><a href="<%= entry_path( :id => 1 ) %>">霏亞為愛回饋活動為"長期失業者"及"身心障礙人士"開立免費授課...</a></td>
  </tr><tr>
    <td class="date">2013.12.31</td>
    <td><a href="<%= entry_path( :id => 1 ) %>">霏亞為愛回饋活動為"長期失業者"及"身心障礙人士"開立免費授課...</a></td>
  </tr>
</table>

  </div> 
  
</article>