<link rel="stylesheet" href="/css/new.css">
<article id="new" _height='auto'>
  <div id="crumb"> <a href="#">首頁</a> &gt; <a href="#">最新消息</a></div>
  <!--crumb-->
  <div class="left">
    <h3><img src="/images/nw-03.gif"></h3>
    <ul>
      <li class="active"><a href="#">2013 (28)</a></li>
      <li><a href="#">2014 (8)</a></li>
    </ul>
  </div>
  <div class="right">
    <div class="back"><a href="<%= entries_path %>"><   回上頁</a></div>
    <div class="hgroup">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right" class="date">2013.12.25</td>
        </tr>
        <tr>
          <td><a>霏亞為愛回饋活動為"長期失業者"及"身心障礙人士"開立
            免費授課班級</a></td>
        </tr>
      </table>
    </div>
    <article class="peditor"> 概略課程介紹，光療凝膠保養實務班 2013081。另有考取美容乙級‧考取美容丙級‧新娘顧問達人班‧時尚造型‧時尚美甲養成‧全方位行動美容達人班‧時尚造型班 </article>
  </div>
</article>