
/*-----------------------------------------------------------------------全域---*/

body{width:800px;margin:0 auto;font:300 .9em 微軟正黑體,"Microsoft JhengHei",verdana;color:#959595}
a{font:300 1em 微軟正黑體,"Microsoft JhengHei",verdana;text-decoration:none;color:#959595}
a:hover{color:#3cabd0}

#iframe-login{width:100%;height:320px;border:1px solid #C9C9C9;border-radius:10px;padding:60px 65px}
#iframe-login h3{color:#3cabd0;font-size:15px;height:50px}
#iframe-login .login{float:left;width:50%;padding:0 5% 0 0;border-right:1px dotted #CCC}
#iframe-login .register{float:right;width:45%}
#iframe-login td{height:29px;font-size:12px;padding:5px 0}
#iframe-login input{width:100%;height:29px;border:1px solid #707070;padding:0 0 0 5px}
#iframe-login span{position:relative;top:-8px}

#iframe-login .button a{display:block;background:url(../images/bt.jpg) 0 top repeat-x;
height:30px;border:1px solid #CAC8C8;border-radius:5px;text-align:center;width:75px;padding:7px 0 0 0}

#iframe-login .register a{display:block;width:280px;height:65px;background:url(../images/bt.jpg) 0 bottom repeat-x;
border:1px solid #CAC8C8;border-radius:5px;text-align:center;padding:15px 0 0 0;font-size:12px;color:#959595;margin:5% 0 0 0}