header{height:568px;}
#banner{background:url(../images/df-banner.jpg) center 0 no-repeat;height:442px}

body > article{width:100%;padding:0}

#course{text-align:center;padding:75px 0;width:940px;margin:0 auto}
#course h3{height:75px}
#course span{background:#00B1AE;color:#fff;padding:2px 5px;display:inline-block;margin:0 0 45px 0}
#course a{display:inline-block;background:url(../images/cs-04.png) 0 0 no-repeat;width:137px;height:35px}
#course a:hover{background:url(../images/cs-04h.png) 0 0 no-repeat;}

#news{background:#FFCC00;font:300 18px 微軟正黑體,Microsoft JhengHei;padding:20px 0}
#news table{width:940px;margin:0 auto}
#news li{border-bottom:1px solid #FFE064;padding:10px 0}
#news a{font:300 16px 微軟正黑體,Microsoft JhengHei;color:#000}
#news span{color:#25b29d;margin:0 15px 0 0;font-weight:900}
#news a:hover{color:#25B29D}

#professional{text-align:center;padding:75px 0;width:940px;margin:0 auto}
#professional h3{height:75px}
#professional span{color:#00B1AE;display:inline-block;margin:0 0 45px 0}
#professional a{display:block;width:166px;height:166px;background-repeat:no-repeat;background-position:0 0;}

#p1{background-image:url(../images/df-08.jpg)}
#p2{background-image:url(../images/df-09.jpg)}
#p3{background-image:url(../images/df-10.jpg)}
#p4{background-image:url(../images/df-11.jpg)}
#p5{background-image:url(../images/df-12.jpg)}

#p1:hover{background-image:url(../images/df-08h.jpg)}
#p2:hover{background-image:url(../images/df-09h.jpg)}
#p3:hover{background-image:url(../images/df-10h.jpg)}
#p4:hover{background-image:url(../images/df-11h.jpg)}
#p5:hover{background-image:url(../images/df-12h.jpg)}

#products{padding:75px 0;background:url(../images/df-17.gif) center 0 no-repeat;width:940px;margin:0 auto}
#products h3 a{display:inline-block;background:url(../images/df-14.jpg) 0 0 no-repeat;width:137px;height:27px}
#products h3 a:hover{background:url(../images/df-14h.jpg) 0 0 no-repeat;}
#products td img{border:2px solid #362E2B;box-shadow:-5px -5px 0 #362E2B}
#products td a{color:#000}
#products td a:hover{display:inline-block;background:#FFEC4C;box-shadow:-3px 3px 0 #C490BF;padding:0 2px}

#job{padding:75px 0;background:url(../images/df-16.jpg);text-align:center}