
/*-----------------------------------------------------------------------全域---*/

body{width:1080px;margin:0 auto;font:300 .9em 微軟正黑體,"Microsoft JhengHei",verdana;color:#959595}
a{font:300 1em 微軟正黑體,"Microsoft JhengHei",verdana;text-decoration:none;color:#959595}
a:hover{color:#3cabd0}

/*-----------------------------------------------------------------------頁首---*/

header{height:100px;text-align:right}
#tool{border:1px solid #E5E5E5;width:375px;padding:10px 0;text-align:center;display:inline-block;margin:25px 10px 0 0}
#tool span{margin:0 10px}
#tool img{margin:0 5px 0 0;position:relative;top:2px}

/*-----------------------------------------------------------------------頁身---*/

#container{overflow:hidden}

/*-----------------------------------------------------------------------側欄---*/

aside{width:225px;float:left}
aside h3{font-size:1.1em;color:#3cabd0;height:35px;border-bottom:1px dotted #3cabd0}
aside h4{padding:0 0 0 5px}
aside h4 img{margin:0 8px 0 0;position:relative;top:-2px}
aside h4 a{color:#2e2e2e}
aside .side{border-bottom:1px dotted #3cabd0;padding:12px 0 15px 0}
aside ul{padding:0 0 0 20px}
aside li{padding:10px 0 0 0}

.content{width:825px;float:right;position:relative}

/*-----------------------------------------------------------------------首頁列表---*/

.quick{border:1px solid #E5E5E5;width:24px;height:115px;text-align:center;
padding:5px 0 0 0;font:300 11px "新細明體",arial;position:fixed;margin:105px 0 0 840px;color:#666}
.quick a{font:300 11px "新細明體",arial;background:#3cabd0;color:#fff;display:block;width:20px;
padding:3px 0;margin:3px 0 0 1px;text-shadow:0 -1px 0 #1E81A2}
.quick span{color:#3cabd0;display:block}
.quick a:hover{background:#00BFFF}

#index-list{overflow:hidden}
#index-list .product{background:#F6F6F6;width:155px;height:220px;text-align:center;float:left;margin:0 10px 10px 0}
#index-list .product img{max-width:120px;height:auto}
#index-list .product .price{color:#000;font-weight:900}
#index-list .product .original{text-decoration:line-through;font-size:13px;color:#c7c7c7;margin:0 5px 0 0}
#index-list .product .special{color:#3cabd0}

/*-----------------------------------------------------------------------首頁內文---*/

#index-show{padding:35px 10px 0 0}
#index-show #preview{width:68%;float:left;padding:30px 0 0 0}
#index-show #preview img{max-width:100%;height:auto}

#index-show #intro{width:29%;float:right}
#index-show #intro td{padding:0 0 20px 0}
#index-show #intro .name{color:#2e2e2e;font-size:22px;line-height:.9em}
#index-show #intro .name span{font-size:12px;color:#959595}

#index-show #intro .price{color:#3cabd0;font-size:22px}
#index-show #intro .price span{font-size:14px;color:#c6c6c6;text-decoration:line-through;}

#index-show #intro .count{color:#2e2e2e}

#index-show #intro .add a{color:#3cabd0;font-size:22px;width:175px;height:40px;border:1px solid #CAC8C8;
background:url(/images/bt.jpg) 0 bottom repeat-x;display:block;text-align:center;border-radius:5px;
padding:5px 0 0 0}

#index-show #detail{clear:both;border:1px solid #E5E5E5;margin:20px 0 0 0}
#index-show #detail h3{background:#E5E5E5;height:40px;padding:10px 0 0 20px;font-size:16px}
#index-show #detail p{padding:15px 20px;line-height:1.7em}
#index-show #detail h4{font-size:16px;padding:0 0 0 20px}

/*-----------------------------------------------------------------------頁尾---*/

footer{clear:both;height:50px}