<nav> 
	<% @instructions.each do | instruction | %>
	
		<a class="<%= 'active' if @instruction.id == instruction.id %>" href="<%= admin_instruction_path( instruction ) %>"><%= instruction.name %></a>
	<% end %>
	<a href="<%= new_admin_instruction_path %>" class="add" title="æ–°å¢åˆ†é¡"><img src="/images/add.png"></a>
</nav>