
  <div class="left">
    <h3 style="color: #00b1ae;font: 300 19px verdana; padding-top: 28px;">{ 重設密碼 }</h3>
    
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    	<%= devise_error_messages! %>
  
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td colspan="2"><%= f.email_field :email, :autofocus => true, :class => 'text', :placeholder => "請輸入您想查詢的電子郵件" %></td>
		      </tr>
		      <tr>
		        <td colspan="2" align="right" class="button"><a id="submit" href="javascript: document.forms[0].submit();"> 寄送信函 </a><a href="/">取 消</a></td>
		      </tr>
		    </table>
    
		<% end %>
  </div>
  <div class="right">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><h3><img src="/images/mb-06.png"></h3></td>
    <td><div class="button"><a href="/members/sign_up">註冊</a></div></td>
  </tr>
</table>   
  </div>