<section class="content" id="order-step1">
<div id="detail">
<table id="cartItems" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="8%" align="center">&nbsp;</th>
    <th width="16%" align="center">明細</th>
    <th width="8%" align="center">顏色</th>
    <th width="22%" align="center">數量</th>
    <th width="10%" align="center">單價</th>
    <th width="10%" align="center">折扣價</th>
    <th width="10%" align="center">小計</th>
    <th width="8%" align="center">現貨庫存</th>
    <th width="8%" align="center">刪除</th>
  </tr>
</table>
</div>
<div id="check">
<table width="240" border="0" align="right" cellpadding="0" cellspacing="0">
  <tr>
    <td width="120">購物小計</td>
    <td width="120">NT$ <span class="sum"></span></td>
  </tr>
  <tr>
    <td>預期產生折扣金</td>
    <td><span class="discountpoint"></span>  點</td>
  </tr>
  <tr>
    <td class="total">訂單總計</td>
    <td class="total">NT$ <span class="sum"></span></td>
  </tr>
</table>
</div>
</section>
<div id="button">
<a href="/" id="back"><img src="/images/left.png">繼續購物</a><a href="/orders/check" id="next">下一步<img src="/images/right.png"></a>
</div>
<%= render 'cart_js' %>