
<link rel="stylesheet" href="/css/shopcart.css">

<article _height='auto'>
  <div id="step"><img src="/images/sc-05.jpg"></div>
  <div id="thx">
    
    <div class="button"><a href="<%= categories_path %>">繼 續 購 物</a></div>
   
  </div>
  <!--content--> 
</article>
