
<div class="right">
	<h4>常用地址設定</h4>
	<%= form_for(@address, :url =>service_addressbooks_path, :method => :post) do |f| %>
	<div class="content">
	
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<% @addresses.each do |addressbook| %>
			<tr>
				<td width="95%" align="left"><%= addressbook.address %></td>
				<td width="5%" class="delete">
					<%= link_to "刪除", service_addressbook_path(addressbook), :method => :delete %>
				</td>
			</tr>
			<% end %>
		</table>
				
		<%= f.text_field :address, :class => 'text' %></td>
	</div>  
	<input name="" onclick="document.forms[0].submit();" type="button" value="儲存" class="button">
	<% end %>	
</div>
