
<link rel="stylesheet" href="/css/testimony.css">
<script src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
$(function(){
	$('.single').addClass('accordionPart').find('h4').addClass('open').hover(function(){
		$(this).addClass('open_on');
	}, function(){
		$(this).removeClass('open_on');
	}).click(function(){


		var $qa_content = $(this).next('.single article');
		if(!$qa_content.is(':visible')){
			$('.single article:visible').slideUp();
		}
		$qa_content.slideToggle()
	}).siblings().addClass('open_on').hide();
});
</script>

<article id="witness">
  <div id="crumb"> <a href="#">首頁</a> &gt; <a href="#">學員見證</a></div>
  <!--crumb-->
  <div class="left">
    <div class="intro">
      <p>面對很多間教育機構與培訓團體，開出來的課程好像很多樣，課程時間長以及堂數不合理的多，只能說如果師資群非常的專業，現場經驗豐富，教程完全標準統一，教學內容能跟職場實際結合應用，這才是每個學生付出寶貴學費的收穫！當然，霏亞保證同樣的課程，<b>新開的班級免費讓舊學員回娘家上課</b>，這是霏亞秉持的教育回饋！</p>
    </div>
    <div class="content">
      <h3><img src="/images/wn-02.gif"></h3>
      <section class="single">
        <h4>李惠如 <span>/ 見證一</span></h4>
        <article class="text">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="22%" valign="top"><img src="/images/wn-03.gif" width="106" height="95"></td>
              <td width="78%" valign="top"><p>是希望讓更多有心想踏入美麗行業的佳人們，不再花冤枉錢與浪費時間在學習不完整的技術。如果真的要選擇美容美體技術當做一技之長，與永續經營，那就要最獨創的手法與最專業的產品。</p>
                <img src="image01.jpg">
                <p>是希望讓更多有心想踏入美麗行業的佳人們，不再花冤枉錢與浪費時間在學習不完整的技術。如果真的要選擇美容美體技術當做一技之長，與永續經營，那就要最獨創的手法與最專業的產品。</p>
                <img src="image01.jpg"></td>
            </tr>
          </table>
        </article>
      </section>
      <section class="single">
        <h4>李惠如 <span>/ 見證一</span></h4>
        <article class="text">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="22%" valign="top"><img src="/images/wn-03.gif" width="106" height="95"></td>
              <td width="78%" valign="top"><p>是希望讓更多有心想踏入美麗行業的佳人們，不再花冤枉錢與浪費時間在學習不完整的技術。如果真的要選擇美容美體技術當做一技之長，與永續經營，那就要最獨創的手法與最專業的產品。</p>
                <img src="image01.jpg">
                <p>是希望讓更多有心想踏入美麗行業的佳人們，不再花冤枉錢與浪費時間在學習不完整的技術。如果真的要選擇美容美體技術當做一技之長，與永續經營，那就要最獨創的手法與最專業的產品。</p>
                <img src="image01.jpg"></td>
            </tr>
          </table>
        </article>
      </section>
    </div><!--content-->
    <div class="page">
    <a href="#">< 上一頁</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">下一頁 ></a></div>
    <div class="chance">
  <h3><img src="/images/wn-05.gif"></h3>
  <img src="/images/wn-06.gif">
  <p>於霏亞完成專業課程，取得結業證書，並於國家考試中考取證照後，便有機會於以下知名企業工作：佐登妮絲國際股份有限公司、牡丹花開（愷雅美容材料行 )、台灣貝倚有限公司 ( 現代美容中心 ) 、英屬維京群島商克麗緹娜行銷有限公司台灣分公司、文姿國際貿易有限公司、迪維達股份有限公司、美黛兒美容股份有限公司、鎧偲國際有限公司...等，霏亞以關懷的心為學員創造更多機會。</p>
   </div>
  </div><!--left-->
  <div class="right">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="/images/wn-07.gif"></td>
      </tr>
      <tr>
        <td><a id="cate-1" class="cate" href="#"></a></td>
      </tr>
      <tr>
        <td><a id="cate-2" class="cate" href="#"></a></td>
      </tr>
      <tr>
        <td><a id="cate-3" class="cate" href="#"></a></td>
      </tr>
    </table>
  </div>
  
</article>