<nav> 
	<% @categories.each do | category | %>
	
		<a class="<%= 'active' if @category.id == category.id %>" href="<%= admin_category_path( category ) %>"><%= category.name %></a>
	<% end %>
	<% if params[ :controller ] == 'admin/categories' %>
		<a href="<%= new_admin_category_path %>" class="add" title="æ–°å¢åˆ†é¡"><img src="/images/add.png"></a>
	<% end %>
</nav>