<section class="content" id="sv-product-list">
	<h3>商品管理</h3>
	<%= render 'list' %>

	<div class="new-top">
		<h3>新增商品</h3>
	</div>
	<%= form_for(@product, :url => admin_products_path) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f} %>
	<% end %>
</section>

<script type="text/javascript">
$("div.side").eq(0).find("img").attr("src","/images/li-open.png");
</script>