<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Google Code for &#20449;&#29992;&#21345;&#36681;&#25563;0426 Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 936981675;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "emf2CPrF7WUQq-nkvgM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/936981675/?label=emf2CPrF7WUQq-nkvgM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<style type="text/css">
	html{height:100%;}
	body{background:url(../images/loading2.gif) center center no-repeat;height:100%;}
	</style>
	<meta http-equiv="refresh" content="2; url=<%= @course.credit_form %>">
</head>
<body>
	
</body>
</html>
