<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Google Code for &#38671;&#20126;&#35426;&#21839;&#28204;&#35430; Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1012896485;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "HqYKCMztkmYQ5aX-4gM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1012896485/?label=HqYKCMztkmYQ5aX-4gM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<script>
		window.location.replace("<%= params[:redirect_to] %>");
	</script>
</head>
<body>

</body>
</html>
