
<header>
  <h2>學員見證</h2>
</header>
    
<article>
  <div class="button" id="button-down">
  <a href="<%= admin_testimonies_path %>" data-method="post" class="right light" rel="nofollow">新增文章<img src="/images/add.png"></a></div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @testimonies.each do |testimony| %>
      <tr>
        <td><a href="#"><%= link_to testimony.title, edit_admin_testimony_path(testimony) %></a></td>
        <td align="center"><%= testimony.created_at.strftime('%Y-%m-%d') %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="page"> <%= paginate @testimonies %></div>
</article>

