<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>此訂單已經下訂，並指定使用貨到付款，請參考下列資訊並至後台進行後續處理</p>
  <p>下單時間 : <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  <p>訂購者 : <%= @order.buyername %> 電話 : <%= @order.buyertel %></p>
  <div class="box"> 
    <%= render 'order_content' %>
    </div>
</body>
</html>