<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>訂單異動申請。</p>
  <div>
    <p>訂單編號:<%= @order.ordernum %></p>
    <p>異動描述:<%= @refund.description %></p>
  </div>  
</body>
</html>