
    <header>
      <h2>最新消息</h2>
    </header>
    
<article>
  <div class="button" id="button-down">
  <a href="<%= admin_entries_path %>" data-method="post" class="right light" rel="nofollow">新增消息<img src="/images/add.png"></a>
</div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, edit_admin_entry_path(entry) %></td>
        <td align="center"><%= link_to entry.created_at.strftime('%Y-%m-%d'), edit_admin_entry_path(entry) %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="page"> 
	  <%= paginate @entries %>
  </div>
</article>

