
<link rel="stylesheet" href="/css/products.css">

<script type="text/javascript">
$(function(){
	$('.single').addClass('accordionPart').find('h4').addClass('open').hover(function(){
		$(this).addClass('open_on');
	}, function(){
		$(this).removeClass('open_on');
	}).click(function(){


		var $qa_content = $(this).next('.single article');
		if(!$qa_content.is(':visible')){
			$('.single article:visible').slideUp();
		}
		$qa_content.slideToggle()
	}).siblings().addClass('open_on').hide();
});
</script>

<article id="products">
  
   <%= render 'menu' %>
  <div class="right">
    <div class="quick">購物車<span>9</span>件<a href="#">結帳</a></div>
    <% @products.each do | product | %>
    
    <div class="single">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center"><img width="195" src="<%= product.cover %>"></td>
        </tr>
        <tr>
          <td valign="top"><%= link_to product.name, category_product_path(@category, product ) %></td>
        </tr>
        <tr>
          <td align="right" class="price">專業價 <b>$ <%= product.saleprice.nil? ? product.price : product.saleprice %></b></td>
        </tr>
      </table>
    </div>
    <!--single-->
    <% end %>
    <div class="page"> <a href="#">< 上一頁</a> <a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">下一頁 ></a></div>
  </div>
</article>