<p>Hello <%= @resource.email %>!</p>

<p>因為您之前申請了重新設定密碼的請求，所以收到了這封信，請點擊下面的網址設定您的密碼：</p>

<p><%= link_to '更改密碼', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果您不記得申請過更改密碼，請忽略這封信。</p>
<p>您的密碼在您更改前都不會更換。</p>

<p>霏亞國際美容教育機構</p>