<section class="content" id="mb-info">
    <div class="info-content">
    <p>    
   您目前可用點數：<a><%= current_member.discountpoint %></a>點<br>
   <br>
   <span>* 購物金一點可以抵一元。</span>
    </p>
    </div>
  </section>