<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, product %></td>
  </tr>
<% end %>
</table>

<%= render 'orders/cart' %>
<%= render 'orders/cart_js' %>
